<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/Stylerpt12.css}">
    <link rel="stylesheet" th:href="@{/css/StyleEDU.css}">
    <script th:src="@{/js/menu-renderer.js}"></script>
    <script th:src="@{/js/change-password-validation.js}"></script>
</head>
<body>


<div id="menu-container"></div>

<table width="700" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="700" align="left" valign="bottom">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="138" align="left" valign="center" bgcolor="#FFFFFF">
                        <img th:src="@{/images/menu/daiictlogo.gif}" width="130" height="30" border="0" vspace="1">
                    </td>
                    <td width="544" align="left" valign="center">
                            <span style="font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #007ABE; font-weight: bold; line-height: 0.1;">
                                Dhirubhai Ambani<br>
                                Institute of Information & Communication Technology
                            </span>
                    </td>
                    <td width="98" align="left" valign="bottom">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr valign="top">
        <td align="left">&nbsp;</td>
    </tr>
    <tr valign="top">
        <td align="left" valign="top">
            <div align="right">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="11%">&nbsp;</td>
                        <td width="89%" align="left" valign="top">
                            <div align="left">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="24%">
                                            <div align="right">
                                                    <span style="color: #205AA7; font-size: 12px; font-weight: bold;">
                                                        Change Password
                                                    </span>
                                            </div>
                                        </td>
                                        <td width="66%">
                                            <img th:src="@{/images/menu/header_bg.gif}" width="483" height="47" border="0" align="right" hspace="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="left" valign="top" bgcolor="#000000">
                                                        <div style="height: 1px; background-color: #000000; width: 100%;"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>


<form name="frmChangePassWord" method="post" th:action="@{/auth/change-password}">
    <table class="rpttbl" border="0" cellpadding="1" cellspacing="1" width="60%">
        <tr>
            <td class="rpttblhd"><b>Old Password</b></td>
            <td class="rpttblbdy">
                <input type="password" name="oldpassword" size="12" required>
            </td>
        </tr>
        <tr>
            <td class="rpttblhd"><b>New Password</b></td>
            <td class="rpttblbdy">
                <input type="password" name="newpassword" size="12" required>
                <b>(Minimum 6 Characters)</b>
            </td>
        </tr>
        <tr>
            <td class="rpttblhd"><b>Reenter Password</b></td>
            <td class="rpttblbdy">
                <input type="password" name="reenterpassword" size="12" required>
            </td>
        </tr>
    </table>

    <input type="button" class="btn" name="CHANGE" value="CHANGE PASSWORD" onclick="fncChangePassword()">
    <input type="button" class="btn" name="Cancel" value="CANCEL" onclick="history.back();">

    <p>
        *Note: Please Enter Minimum Two NonAlphaNumeric Characters In Password
        (e.g. <span style="color: red;">!,@,#,$,*</span>)
    </p>
</form>

<!-- Inline JS for menu rendering -->
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const roleId = /*[[${roleId}]]*/ 'unknown';
        const roleSectionMap = {
            "914": "STUDENT"
        };
        const sectionToRender = roleSectionMap[roleId];

        if (!sectionToRender) {
            console.warn("No menu section mapped for roleId:", roleId);
            return;
        }

        const menuRenderer = new MenuRenderer(roleId, sectionToRender);
        menuRenderer.init()
            .then(menu => {
                if (menu) {
                    document.getElementById("menu-container").appendChild(menu);
                }
            })
            .catch(err => {
                console.error("Menu rendering error:", err);
                document.getElementById("menu-container").innerHTML = "<p>Unable to load menu.</p>";
            });
    });
</script>

</body>
</html>
