<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dhirubhai Ambani - Institute of Information and Communication Technology</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/StyleEDU.css}">
    <script th:src="@{/js/menu-renderer.js}"></script>

    <script th:inline="javascript">
        function trail(pValue) {
            if (pValue !== "") {
                window.open(pValue);
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
        const roleId = /*[[${roleId}]]*/ 'UNKNOWN';

        const sectionMap = {
           "901": "SEGS-ADMIN",
           "913": "SEGS-FACULTY"
        };

        const section = sectionMap[roleId];
        if (!section) {
           console.warn("No SEGS section mapped for this role:", roleId);
            return;
        }

    const menuRenderer = new MenuRenderer(roleId, section);
    menuRenderer.init();
});

    </script>

</head>



<table width="700" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="700" align="left" valign="bottom">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="138" align="left" valign="center" bgcolor="#FFFFFF">
                        <img th:src="@{/images/menu/daiictlogo.gif}" width="130" height="30" border="0" vspace="1">
                    </td>
                    <td width="544" align="left" valign="center">
            <span style="font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #007ABE; font-weight: bold; line-height: 0.1;">
              Dhirubhai Ambani<br>
              Institute of Information & Communication Technology
            </span>
                    </td>
                    <td width="98" align="left" valign="bottom">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr valign="top">
        <td align="left">&nbsp;</td>
    </tr>
    <tr valign="top">
        <td align="left" valign="top">
            <div align="right">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="11%">&nbsp;</td>
                        <td width="89%" align="left" valign="top">
                            <div align="left">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="24%">
                                            <div align="right">
                        <span style="color: #205AA7; font-size: 12px; font-weight: bold;">
                          Student Evaluation<br>
                          & Grading System
                        </span>
                                            </div>
                                        </td>
                                        <td width="66%">
                                            <img th:src="@{/images/menu/header_bg.gif}" width="483" height="47" border="0" align="right" hspace="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="left" valign="top" bgcolor="#000000">
                                                        <div style="height: 1px; background-color: #000000; width: 100%;"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<div id="menu-container"></div>

<div style="margin-top:26px;">
    <p>Welcome &nbsp; <span th:text="${username}"></span></p>
</div>

<!-- Spacer -->
<div style="height: 13em;"></div>

</body>
</html>
