<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Failure</title>
</head>
<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center">
    <u><b><font color="#FF0000" size="6">Login Failure</font></b></u>
</p>
<p>&nbsp;</p>
<p align="center">
    <font size="5" color="#FF0000">Username/Password is incorrect</font>
</p>

<p align="center">
    <font size="5" color="#FF0000">to login again
        <a th:href="@{/auth/login}">click here</a>
    </font>
</p>

<p align="center" th:if="${remarks != null}">
    <font size="3" color="#FF000F">
        <b th:text="${remarks}"></b>
    </font>
</p>
</body>
</html>